
@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo à nossa Lanchonete!</h1>
    <p class="lead">O melhor sabor da cidade, agora online.</p>
    <hr />
    <img src="https://placehold.co/800x400/EFEFEF/AAAAAA?text=O+Melhor+Lanche+da+Cidade" alt="Lanche de boas-vindas" class="img-fluid rounded shadow" />
    <div class="mt-4">
        <a class="btn btn-primary btn-lg" asp-controller="Lanche" asp-action="List">Ver Cardápio</a>
    </div>
</div>
